body{background-image: url(images/cset.jpg);


}
.resume {
	background-color: white;
	max-width: 960px;
	margin: 0 auto;
}
article {
  background-color: white;
  height: 1600px;
  width:900px;
  margin: 0 auto;
}
.info {
  float: right;
  margin-right: 110px;
  display: inline-block;
}
h1 {
  margin-left: 80px;
  display: inline-block;
}
.center1 {
  text-align: center;
  font-size: 25px;
}
.line {
  height: 5px;
  width: 90%;
  margin:10px 0px 30px 30px;
  background-color: black;
}
.line2 {
  height: 5px;
  width: 90%;
  margin: 100px 0px 30px 30px;
  background-color: black;
}
.objective {
  margin: 20px 20px auto;
}
.flex-container {
	display: flex;
	width: 100%;
}
.box {
height: 100px;
min-width: 200px;
}
.one {
width: 50%;
text-align: center;

}
.two {
	width: 50%;
	text-align: center;

}
.three {
	width: 50%;
	float: left;
	margin-left: 50px;
	margin-top: -50px;
}
.four {
	float: right;
	margin-right: 60px;
	margin-top: -30px;
}
.section2 {
margin-top: 200;
}
.work {
	width: 100%;
	text-align: center;
}
.flex-container2 {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.vol {
	text-align: center;
}
.p {
	text-align: center;
}
.hobbies {
	text-align: center;
}
.block {
	background: grey;
	height: 130px;
	width: 70%;
	margin: 0 auto;
	padding-left: 10px;
	border-radius: 10px;
}
.p2 {
	display: inline-block;
	padding-left: 30px;
}
.p3 {
	display: inline-block;
	padding-left:100px;
}
.h2 {
 margin-left: 20px;
}
.list {
	margin: -15px 50px 0px 0px;
}
.h3 {
	text-align: center;
}

@media (max-width:(500px) {
	.resume h1 ul{
	 display: block;
	}
	.resume ul{
		float: none;
	}
